body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

div {
  box-sizing: border-box;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #F1F1F1;
}

.main.active {
  width: calc(100% - 350px);
}